-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: gaynaako_opportunities
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `_prisma_migrations`
--

DROP TABLE IF EXISTS `_prisma_migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `_prisma_migrations` (
  `id` varchar(36) NOT NULL,
  `checksum` varchar(64) NOT NULL,
  `finished_at` datetime(3) DEFAULT NULL,
  `migration_name` varchar(255) NOT NULL,
  `logs` text DEFAULT NULL,
  `rolled_back_at` datetime(3) DEFAULT NULL,
  `started_at` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `applied_steps_count` int(10) unsigned NOT NULL DEFAULT 0,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `_prisma_migrations`
--

LOCK TABLES `_prisma_migrations` WRITE;
/*!40000 ALTER TABLE `_prisma_migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `_prisma_migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `abonnements`
--

DROP TABLE IF EXISTS `abonnements`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `abonnements` (
  `id` varchar(191) NOT NULL,
  `utilisateurId` varchar(191) NOT NULL,
  `planId` varchar(191) NOT NULL,
  `cycle` enum('MENSUEL','ANNUEL') NOT NULL,
  `statut` enum('EN_ATTENTE','ACTIF','EXPIRE','ANNULE','ECHEC_PAIEMENT') NOT NULL DEFAULT 'EN_ATTENTE',
  `dateDebut` datetime(3) DEFAULT NULL,
  `dateFin` datetime(3) DEFAULT NULL,
  `renouvellementAuto` tinyint(1) NOT NULL DEFAULT 1,
  `dateCreation` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `supprimeLe` datetime(3) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `abonnements_utilisateurId_idx` (`utilisateurId`),
  KEY `abonnements_planId_idx` (`planId`),
  KEY `abonnements_statut_idx` (`statut`),
  CONSTRAINT `abonnements_planId_fkey` FOREIGN KEY (`planId`) REFERENCES `plans` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `abonnements_utilisateurId_fkey` FOREIGN KEY (`utilisateurId`) REFERENCES `utilisateurs` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `abonnements`
--

LOCK TABLES `abonnements` WRITE;
/*!40000 ALTER TABLE `abonnements` DISABLE KEYS */;
/*!40000 ALTER TABLE `abonnements` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `administrateur_profiles`
--

DROP TABLE IF EXISTS `administrateur_profiles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `administrateur_profiles` (
  `id` varchar(191) NOT NULL,
  `utilisateurId` varchar(191) NOT NULL,
  `niveauAcces` varchar(191) NOT NULL DEFAULT 'STANDARD',
  PRIMARY KEY (`id`),
  UNIQUE KEY `administrateur_profiles_utilisateurId_key` (`utilisateurId`),
  CONSTRAINT `administrateur_profiles_utilisateurId_fkey` FOREIGN KEY (`utilisateurId`) REFERENCES `utilisateurs` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `administrateur_profiles`
--

LOCK TABLES `administrateur_profiles` WRITE;
/*!40000 ALTER TABLE `administrateur_profiles` DISABLE KEYS */;
INSERT INTO `administrateur_profiles` VALUES ('5d7d0c0f-59fb-414d-b9eb-c5e2a156ccad','fe15871c-a0f8-44a5-94d0-68ce4973c8a4','SUPER_ADMIN');
/*!40000 ALTER TABLE `administrateur_profiles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `candidatures`
--

DROP TABLE IF EXISTS `candidatures`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `candidatures` (
  `id` varchar(191) NOT NULL,
  `statut` enum('BROUILLON','SOUMISE','EN_COURS','ACCEPTEE','REJETEE') NOT NULL DEFAULT 'BROUILLON',
  `dateSoumission` datetime(3) DEFAULT NULL,
  `dateCreation` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `utilisateurId` varchar(191) NOT NULL,
  `opportuniteId` varchar(191) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `candidatures_utilisateurId_opportuniteId_key` (`utilisateurId`,`opportuniteId`),
  KEY `candidatures_opportuniteId_fkey` (`opportuniteId`),
  CONSTRAINT `candidatures_opportuniteId_fkey` FOREIGN KEY (`opportuniteId`) REFERENCES `opportunites` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `candidatures_utilisateurId_fkey` FOREIGN KEY (`utilisateurId`) REFERENCES `utilisateurs` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `candidatures`
--

LOCK TABLES `candidatures` WRITE;
/*!40000 ALTER TABLE `candidatures` DISABLE KEYS */;
/*!40000 ALTER TABLE `candidatures` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `chat_messages`
--

DROP TABLE IF EXISTS `chat_messages`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `chat_messages` (
  `id` varchar(191) NOT NULL,
  `contenu` text NOT NULL,
  `expediteur` enum('UTILISATEUR','BOT') NOT NULL,
  `horodatage` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `conversationId` varchar(191) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `chat_messages_conversationId_fkey` (`conversationId`),
  CONSTRAINT `chat_messages_conversationId_fkey` FOREIGN KEY (`conversationId`) REFERENCES `chatbot_conversations` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `chat_messages`
--

LOCK TABLES `chat_messages` WRITE;
/*!40000 ALTER TABLE `chat_messages` DISABLE KEYS */;
/*!40000 ALTER TABLE `chat_messages` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `chatbot_conversations`
--

DROP TABLE IF EXISTS `chatbot_conversations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `chatbot_conversations` (
  `id` varchar(191) NOT NULL,
  `dateDebut` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `utilisateurId` varchar(191) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `chatbot_conversations_utilisateurId_fkey` (`utilisateurId`),
  CONSTRAINT `chatbot_conversations_utilisateurId_fkey` FOREIGN KEY (`utilisateurId`) REFERENCES `utilisateurs` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `chatbot_conversations`
--

LOCK TABLES `chatbot_conversations` WRITE;
/*!40000 ALTER TABLE `chatbot_conversations` DISABLE KEYS */;
/*!40000 ALTER TABLE `chatbot_conversations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `documents_utilisateur`
--

DROP TABLE IF EXISTS `documents_utilisateur`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `documents_utilisateur` (
  `id` varchar(191) NOT NULL,
  `utilisateurId` varchar(191) NOT NULL,
  `type` enum('CV','PIECE_IDENTITE','REGISTRE_COMMERCE','NINEA','STATUTS_ENTREPRISE','ATTESTATION_FISCALE','ATTESTATION_SOCIALE','JUSTIFICATIF_DOMICILE','ATTESTATION','AUTRE') NOT NULL,
  `libelle` varchar(191) NOT NULL,
  `nomFichier` varchar(191) NOT NULL,
  `mimeType` varchar(191) NOT NULL,
  `tailleOctets` int(11) NOT NULL,
  `dateAjout` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `dateExpiration` datetime(3) DEFAULT NULL,
  `publicId` varchar(191) NOT NULL,
  `resourceType` varchar(191) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `documents_utilisateur_utilisateurId_idx` (`utilisateurId`),
  CONSTRAINT `documents_utilisateur_utilisateurId_fkey` FOREIGN KEY (`utilisateurId`) REFERENCES `utilisateurs` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `documents_utilisateur`
--

LOCK TABLES `documents_utilisateur` WRITE;
/*!40000 ALTER TABLE `documents_utilisateur` DISABLE KEYS */;
/*!40000 ALTER TABLE `documents_utilisateur` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `domaines_intervention`
--

DROP TABLE IF EXISTS `domaines_intervention`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `domaines_intervention` (
  `id` varchar(191) NOT NULL,
  `nom` varchar(191) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `domaines_intervention_nom_key` (`nom`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `domaines_intervention`
--

LOCK TABLES `domaines_intervention` WRITE;
/*!40000 ALTER TABLE `domaines_intervention` DISABLE KEYS */;
/*!40000 ALTER TABLE `domaines_intervention` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `emetteurs`
--

DROP TABLE IF EXISTS `emetteurs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `emetteurs` (
  `id` varchar(191) NOT NULL,
  `nom` varchar(191) NOT NULL,
  `url` text NOT NULL,
  `type` enum('SITE_WEB','API','RESEAU_SOCIAL','PORTAIL_INSTITUTIONNEL') NOT NULL,
  `frequenceCollecte` varchar(191) NOT NULL,
  `dernierScan` datetime(3) DEFAULT NULL,
  `statut` enum('ACTIF','INACTIF') NOT NULL DEFAULT 'ACTIF',
  `administrateurId` varchar(191) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `emetteurs_administrateurId_fkey` (`administrateurId`),
  CONSTRAINT `emetteurs_administrateurId_fkey` FOREIGN KEY (`administrateurId`) REFERENCES `administrateur_profiles` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `emetteurs`
--

LOCK TABLES `emetteurs` WRITE;
/*!40000 ALTER TABLE `emetteurs` DISABLE KEYS */;
/*!40000 ALTER TABLE `emetteurs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `entrepreneur_profiles`
--

DROP TABLE IF EXISTS `entrepreneur_profiles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `entrepreneur_profiles` (
  `id` varchar(191) NOT NULL,
  `utilisateurId` varchar(191) NOT NULL,
  `secteurId` varchar(191) NOT NULL,
  `paysId` varchar(191) NOT NULL,
  `domaineExpertise` varchar(191) NOT NULL,
  `objectifs` text DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `entrepreneur_profiles_utilisateurId_key` (`utilisateurId`),
  KEY `entrepreneur_profiles_secteurId_fkey` (`secteurId`),
  KEY `entrepreneur_profiles_paysId_fkey` (`paysId`),
  CONSTRAINT `entrepreneur_profiles_paysId_fkey` FOREIGN KEY (`paysId`) REFERENCES `pays` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `entrepreneur_profiles_secteurId_fkey` FOREIGN KEY (`secteurId`) REFERENCES `secteurs` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `entrepreneur_profiles_utilisateurId_fkey` FOREIGN KEY (`utilisateurId`) REFERENCES `utilisateurs` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `entrepreneur_profiles`
--

LOCK TABLES `entrepreneur_profiles` WRITE;
/*!40000 ALTER TABLE `entrepreneur_profiles` DISABLE KEYS */;
/*!40000 ALTER TABLE `entrepreneur_profiles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `favoris`
--

DROP TABLE IF EXISTS `favoris`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `favoris` (
  `id` varchar(191) NOT NULL,
  `dateAjout` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `utilisateurId` varchar(191) NOT NULL,
  `opportuniteId` varchar(191) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `favoris_utilisateurId_opportuniteId_key` (`utilisateurId`,`opportuniteId`),
  KEY `favoris_opportuniteId_fkey` (`opportuniteId`),
  CONSTRAINT `favoris_opportuniteId_fkey` FOREIGN KEY (`opportuniteId`) REFERENCES `opportunites` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `favoris_utilisateurId_fkey` FOREIGN KEY (`utilisateurId`) REFERENCES `utilisateurs` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `favoris`
--

LOCK TABLES `favoris` WRITE;
/*!40000 ALTER TABLE `favoris` DISABLE KEYS */;
/*!40000 ALTER TABLE `favoris` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `journaux_activite`
--

DROP TABLE IF EXISTS `journaux_activite`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `journaux_activite` (
  `id` varchar(191) NOT NULL,
  `action` varchar(191) NOT NULL,
  `dateHeure` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `administrateurId` varchar(191) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `journaux_activite_administrateurId_fkey` (`administrateurId`),
  CONSTRAINT `journaux_activite_administrateurId_fkey` FOREIGN KEY (`administrateurId`) REFERENCES `administrateur_profiles` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `journaux_activite`
--

LOCK TABLES `journaux_activite` WRITE;
/*!40000 ALTER TABLE `journaux_activite` DISABLE KEYS */;
/*!40000 ALTER TABLE `journaux_activite` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notifications`
--

DROP TABLE IF EXISTS `notifications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `notifications` (
  `id` varchar(191) NOT NULL,
  `canal` enum('EMAIL','WHATSAPP') NOT NULL,
  `contenu` text NOT NULL,
  `dateEnvoi` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `envoyee` tinyint(1) NOT NULL DEFAULT 0,
  `utilisateurId` varchar(191) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `notifications_utilisateurId_fkey` (`utilisateurId`),
  CONSTRAINT `notifications_utilisateurId_fkey` FOREIGN KEY (`utilisateurId`) REFERENCES `utilisateurs` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notifications`
--

LOCK TABLES `notifications` WRITE;
/*!40000 ALTER TABLE `notifications` DISABLE KEYS */;
/*!40000 ALTER TABLE `notifications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ong_profile_domaines`
--

DROP TABLE IF EXISTS `ong_profile_domaines`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ong_profile_domaines` (
  `ongProfileId` varchar(191) NOT NULL,
  `domaineInterventionId` varchar(191) NOT NULL,
  PRIMARY KEY (`ongProfileId`,`domaineInterventionId`),
  KEY `ong_profile_domaines_domaineInterventionId_idx` (`domaineInterventionId`),
  CONSTRAINT `ong_profile_domaines_domaineInterventionId_fkey` FOREIGN KEY (`domaineInterventionId`) REFERENCES `domaines_intervention` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `ong_profile_domaines_ongProfileId_fkey` FOREIGN KEY (`ongProfileId`) REFERENCES `ong_profiles` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ong_profile_domaines`
--

LOCK TABLES `ong_profile_domaines` WRITE;
/*!40000 ALTER TABLE `ong_profile_domaines` DISABLE KEYS */;
/*!40000 ALTER TABLE `ong_profile_domaines` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ong_profiles`
--

DROP TABLE IF EXISTS `ong_profiles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ong_profiles` (
  `id` varchar(191) NOT NULL,
  `utilisateurId` varchar(191) NOT NULL,
  `nomOrganisation` varchar(191) NOT NULL,
  `mission` text DEFAULT NULL,
  `logoUrl` varchar(191) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `ong_profiles_utilisateurId_key` (`utilisateurId`),
  CONSTRAINT `ong_profiles_utilisateurId_fkey` FOREIGN KEY (`utilisateurId`) REFERENCES `utilisateurs` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ong_profiles`
--

LOCK TABLES `ong_profiles` WRITE;
/*!40000 ALTER TABLE `ong_profiles` DISABLE KEYS */;
/*!40000 ALTER TABLE `ong_profiles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `opportunites`
--

DROP TABLE IF EXISTS `opportunites`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `opportunites` (
  `id` varchar(191) NOT NULL,
  `externalId` varchar(191) DEFAULT NULL,
  `titre` varchar(191) NOT NULL,
  `description` text NOT NULL,
  `type` enum('FINANCEMENT','SUBVENTION','APPEL_OFFRE','CONCOURS','PROGRAMME_ACCELERATION') NOT NULL,
  `pays` varchar(191) NOT NULL,
  `dateLimite` datetime(3) NOT NULL,
  `criteresEligibilite` text DEFAULT NULL,
  `origine` enum('MANUELLE','IA') NOT NULL DEFAULT 'MANUELLE',
  `dateCreation` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `supprimeLe` datetime(3) DEFAULT NULL,
  `secteurId` varchar(191) NOT NULL,
  `emetteurId` varchar(191) DEFAULT NULL,
  `administrateurId` varchar(191) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `opportunites_externalId_key` (`externalId`),
  KEY `opportunites_secteurId_fkey` (`secteurId`),
  KEY `opportunites_emetteurId_fkey` (`emetteurId`),
  KEY `opportunites_administrateurId_fkey` (`administrateurId`),
  CONSTRAINT `opportunites_administrateurId_fkey` FOREIGN KEY (`administrateurId`) REFERENCES `administrateur_profiles` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `opportunites_emetteurId_fkey` FOREIGN KEY (`emetteurId`) REFERENCES `emetteurs` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `opportunites_secteurId_fkey` FOREIGN KEY (`secteurId`) REFERENCES `secteurs` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `opportunites`
--

LOCK TABLES `opportunites` WRITE;
/*!40000 ALTER TABLE `opportunites` DISABLE KEYS */;
/*!40000 ALTER TABLE `opportunites` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `otp_verifications`
--

DROP TABLE IF EXISTS `otp_verifications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `otp_verifications` (
  `id` varchar(191) NOT NULL,
  `email` varchar(191) NOT NULL,
  `codeHash` varchar(191) NOT NULL,
  `purpose` enum('EMAIL_VERIFICATION','PASSWORD_RESET') NOT NULL,
  `expiresAt` datetime(3) NOT NULL,
  `attempts` int(11) NOT NULL DEFAULT 0,
  `consumed` tinyint(1) NOT NULL DEFAULT 0,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  PRIMARY KEY (`id`),
  KEY `otp_verifications_email_purpose_idx` (`email`,`purpose`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `otp_verifications`
--

LOCK TABLES `otp_verifications` WRITE;
/*!40000 ALTER TABLE `otp_verifications` DISABLE KEYS */;
/*!40000 ALTER TABLE `otp_verifications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pays`
--

DROP TABLE IF EXISTS `pays`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pays` (
  `id` varchar(191) NOT NULL,
  `nom` varchar(191) NOT NULL,
  `code` varchar(191) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `pays_nom_key` (`nom`),
  UNIQUE KEY `pays_code_key` (`code`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pays`
--

LOCK TABLES `pays` WRITE;
/*!40000 ALTER TABLE `pays` DISABLE KEYS */;
/*!40000 ALTER TABLE `pays` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pending_registrations`
--

DROP TABLE IF EXISTS `pending_registrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pending_registrations` (
  `id` varchar(191) NOT NULL,
  `email` varchar(191) NOT NULL,
  `nom` varchar(191) NOT NULL,
  `prenom` varchar(191) NOT NULL,
  `motDePasse` varchar(191) NOT NULL,
  `role` enum('ENTREPRENEUR','PME','ONG','ADMINISTRATEUR') NOT NULL,
  `donneesProfil` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin NOT NULL CHECK (json_valid(`donneesProfil`)),
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `pending_registrations_email_key` (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pending_registrations`
--

LOCK TABLES `pending_registrations` WRITE;
/*!40000 ALTER TABLE `pending_registrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `pending_registrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `plan_fonctionnalites`
--

DROP TABLE IF EXISTS `plan_fonctionnalites`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `plan_fonctionnalites` (
  `id` varchar(191) NOT NULL,
  `planId` varchar(191) NOT NULL,
  `cle` varchar(191) NOT NULL,
  `valeur` varchar(191) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `plan_fonctionnalites_planId_cle_key` (`planId`,`cle`),
  KEY `plan_fonctionnalites_planId_idx` (`planId`),
  CONSTRAINT `plan_fonctionnalites_planId_fkey` FOREIGN KEY (`planId`) REFERENCES `plans` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `plan_fonctionnalites`
--

LOCK TABLES `plan_fonctionnalites` WRITE;
/*!40000 ALTER TABLE `plan_fonctionnalites` DISABLE KEYS */;
/*!40000 ALTER TABLE `plan_fonctionnalites` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `plans`
--

DROP TABLE IF EXISTS `plans`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `plans` (
  `id` varchar(191) NOT NULL,
  `nom` varchar(191) NOT NULL,
  `description` text DEFAULT NULL,
  `prixMensuel` int(11) NOT NULL,
  `prixAnnuel` int(11) NOT NULL,
  `actif` tinyint(1) NOT NULL DEFAULT 1,
  `ordreAffichage` int(11) NOT NULL DEFAULT 0,
  `dateCreation` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  PRIMARY KEY (`id`),
  UNIQUE KEY `plans_nom_key` (`nom`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `plans`
--

LOCK TABLES `plans` WRITE;
/*!40000 ALTER TABLE `plans` DISABLE KEYS */;
/*!40000 ALTER TABLE `plans` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pme_profile_secteurs`
--

DROP TABLE IF EXISTS `pme_profile_secteurs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pme_profile_secteurs` (
  `pmeProfileId` varchar(191) NOT NULL,
  `secteurId` varchar(191) NOT NULL,
  PRIMARY KEY (`pmeProfileId`,`secteurId`),
  KEY `pme_profile_secteurs_secteurId_idx` (`secteurId`),
  CONSTRAINT `pme_profile_secteurs_pmeProfileId_fkey` FOREIGN KEY (`pmeProfileId`) REFERENCES `pme_profiles` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `pme_profile_secteurs_secteurId_fkey` FOREIGN KEY (`secteurId`) REFERENCES `secteurs` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pme_profile_secteurs`
--

LOCK TABLES `pme_profile_secteurs` WRITE;
/*!40000 ALTER TABLE `pme_profile_secteurs` DISABLE KEYS */;
/*!40000 ALTER TABLE `pme_profile_secteurs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pme_profiles`
--

DROP TABLE IF EXISTS `pme_profiles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pme_profiles` (
  `id` varchar(191) NOT NULL,
  `utilisateurId` varchar(191) NOT NULL,
  `nomEntreprise` varchar(191) NOT NULL,
  `logoUrl` varchar(191) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `pme_profiles_utilisateurId_key` (`utilisateurId`),
  CONSTRAINT `pme_profiles_utilisateurId_fkey` FOREIGN KEY (`utilisateurId`) REFERENCES `utilisateurs` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pme_profiles`
--

LOCK TABLES `pme_profiles` WRITE;
/*!40000 ALTER TABLE `pme_profiles` DISABLE KEYS */;
/*!40000 ALTER TABLE `pme_profiles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `recommandations`
--

DROP TABLE IF EXISTS `recommandations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `recommandations` (
  `id` varchar(191) NOT NULL,
  `scorePertinence` double NOT NULL,
  `dateGeneration` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `utilisateurId` varchar(191) NOT NULL,
  `opportuniteId` varchar(191) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `recommandations_utilisateurId_fkey` (`utilisateurId`),
  KEY `recommandations_opportuniteId_fkey` (`opportuniteId`),
  CONSTRAINT `recommandations_opportuniteId_fkey` FOREIGN KEY (`opportuniteId`) REFERENCES `opportunites` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `recommandations_utilisateurId_fkey` FOREIGN KEY (`utilisateurId`) REFERENCES `utilisateurs` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `recommandations`
--

LOCK TABLES `recommandations` WRITE;
/*!40000 ALTER TABLE `recommandations` DISABLE KEYS */;
/*!40000 ALTER TABLE `recommandations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `refresh_tokens`
--

DROP TABLE IF EXISTS `refresh_tokens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `refresh_tokens` (
  `id` varchar(191) NOT NULL,
  `tokenHash` varchar(191) NOT NULL,
  `utilisateurId` varchar(191) NOT NULL,
  `expiresAt` datetime(3) NOT NULL,
  `revoked` tinyint(1) NOT NULL DEFAULT 0,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  PRIMARY KEY (`id`),
  UNIQUE KEY `refresh_tokens_tokenHash_key` (`tokenHash`),
  KEY `refresh_tokens_utilisateurId_idx` (`utilisateurId`),
  CONSTRAINT `refresh_tokens_utilisateurId_fkey` FOREIGN KEY (`utilisateurId`) REFERENCES `utilisateurs` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `refresh_tokens`
--

LOCK TABLES `refresh_tokens` WRITE;
/*!40000 ALTER TABLE `refresh_tokens` DISABLE KEYS */;
/*!40000 ALTER TABLE `refresh_tokens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `secteurs`
--

DROP TABLE IF EXISTS `secteurs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `secteurs` (
  `id` varchar(191) NOT NULL,
  `nom` varchar(191) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `secteurs_nom_key` (`nom`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `secteurs`
--

LOCK TABLES `secteurs` WRITE;
/*!40000 ALTER TABLE `secteurs` DISABLE KEYS */;
/*!40000 ALTER TABLE `secteurs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `transactions`
--

DROP TABLE IF EXISTS `transactions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `transactions` (
  `id` varchar(191) NOT NULL,
  `abonnementId` varchar(191) NOT NULL,
  `fournisseur` enum('WAVE','ORANGE_MONEY') NOT NULL,
  `referenceExterne` varchar(191) DEFAULT NULL,
  `montant` int(11) NOT NULL,
  `statut` enum('EN_ATTENTE','REUSSIE','ECHOUEE','REMBOURSEE') NOT NULL DEFAULT 'EN_ATTENTE',
  `dateCreation` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `dateConfirmation` datetime(3) DEFAULT NULL,
  `metadonnees` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`metadonnees`)),
  PRIMARY KEY (`id`),
  UNIQUE KEY `transactions_referenceExterne_key` (`referenceExterne`),
  KEY `transactions_abonnementId_idx` (`abonnementId`),
  KEY `transactions_statut_idx` (`statut`),
  CONSTRAINT `transactions_abonnementId_fkey` FOREIGN KEY (`abonnementId`) REFERENCES `abonnements` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `transactions`
--

LOCK TABLES `transactions` WRITE;
/*!40000 ALTER TABLE `transactions` DISABLE KEYS */;
/*!40000 ALTER TABLE `transactions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `utilisateurs`
--

DROP TABLE IF EXISTS `utilisateurs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `utilisateurs` (
  `id` varchar(191) NOT NULL,
  `email` varchar(191) NOT NULL,
  `motDePasse` varchar(191) NOT NULL,
  `nom` varchar(191) NOT NULL,
  `prenom` varchar(191) NOT NULL,
  `role` enum('ENTREPRENEUR','PME','ONG','ADMINISTRATEUR') NOT NULL,
  `statut` enum('EN_ATTENTE','ACTIF','SUSPENDU') NOT NULL DEFAULT 'ACTIF',
  `dateCreation` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `supprimeLe` datetime(3) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `utilisateurs_email_key` (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `utilisateurs`
--

LOCK TABLES `utilisateurs` WRITE;
/*!40000 ALTER TABLE `utilisateurs` DISABLE KEYS */;
INSERT INTO `utilisateurs` VALUES ('fe15871c-a0f8-44a5-94d0-68ce4973c8a4','admin@gaynaako.test','$2b$10$e8MAH3FIbuHIjO.26jGsl.O5xA61/D5H1pFHtmiDcKBKkK4a55RgS','Admin','Gaynaako','ADMINISTRATEUR','ACTIF','2026-10-04 10:21:16.083',NULL);
/*!40000 ALTER TABLE `utilisateurs` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-10-04 10:46:39
